/circuits/hex-mini-drive-backups/*
/circuits/fp-info-cache
/circuits/production/backups/*
/circuits/fp-info-cache
/circuits/~hex-mini-drive.kicad_sch.lck
/driver-code/Debug/*
/driver-code/hex-mini-drive Debug.launch
/driver-code/Release/*
/driver-code/.cproject
/driver-code/.mxproject
/driver-code/.vscode
/driver-code/.settings
/driver-code/hex-mini-drive.launch
/driver-code/build/*
/driver-code/CMakeFiles/*
/driver-code/CMakeCache.txt
/driver-code/compile_commands.json
/driver-code/cmake_install.cmake
/driver-code/build.ninja
/driver-code/cmake/stm32cubemx/*
