~extender-cable-circuit.kicad_sch.lck
~extender-cable-circuit.kicad_pro.lck
~extender-cable-circuit.kicad_pcb.lck
extender-cable-circuit-backups
_autosave-extender-cable-circuit.kicad_pcb
production/backups
